.active {
  .link {
    &:before {
      opacity: 1;
    }
  }
}

.link {
  height: 36px;
  width: 240px;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
  display: flex;
  padding: 11px 20px;
  overflow: hidden;
  background: transparent;
  border: none;

  color: #646777;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 2px;
    background: #4ce1b6;
    opacity: 0;
    transition: all 0.3s;
  }

  p {
    position: absolute;
    left: 43px;
    width: 160px;
    transition: left 0.3s;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    text-decoration: none;
    background-color: #fafbfe;
    &:before {
      opacity: 1;
    }
  }
}

.icon {
  margin-right: 10px;
  font-size: 13px;
  line-height: 13px;
  color: #b1c3c8;
}

.title {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  display: flex;
}

.badge {
  width: 26px;
  height: 14px;
  background-color: #ff4861;
  font-size: 8px;
  font-weight: 400;
  padding: 2px;
  margin-left: 5px;
  line-height: 9px;
  position: relative;
  text-transform: uppercase;
  border-radius: 7px;

  span {
    position: absolute;
    left: 0;
    top: 3px;
    width: 26px;
    text-align: center;
  }
}
